// This is the main partial file to create custom css
// It imports the partials/_base.scss file to get common variables
// then it is imported into the screen.scss file to create the final screen.css file

@import "partials/base";
@import "blueprint/grid";
@import "compass/css3/border-radius";

// header classes
#header {
	height: 120px;
	border: solid 2px $header-border-color;
}
.hbground {
	background-image: url("../images/header-bg.png");
}

.hlogo {
	width: 350px;
	margin-top: -10px;
	padding-left: 40px;
}

#toggle-grid {
	float: right;
	margin-right: 2px;
}

// content classes
#content {
	min-height: 400px;
	border: solid 2px $content-border-color;
}
.cbground {
	background-color: $content-border-color;
}

.listing {
	margin-left: span(1);
	padding: (5px);
	@include border-radius;
	border: 2px solid;
	width: span($blueprint-grid-columns - 2);
	height: 100px;
}

// footer classes
#footer {
	height: 120px;
	border: solid 2px $footer-border-color;
}
.fbground {
	background-color: $footer-border-color;
}

// general classes
$indent-columns: 2;
.left-indent {
	margin-left: ($indent-columns*$blueprint-grid-width);
}
