// This is the main partial file to create custom css
// It imports the partials/_base.scss file to get common variables
// then it is imported into the screen.scss file to create the final screen.css file

@import "partials/base";
@import "blueprint/grid";
@import "compass/css3/border-radius";

// container classes
.topbar{
	.signin {
		float: right;
		line-height: 40px;
		color: $signin-color;
		font-size: 12px;
		font-family: 'PT Sans',Arial,Helvetica,sans-serif;
	}
	background-color: $top-bar-color;
	height: 40px;
}

// header classes
.bannertop {
	background-color: $banner-color;
}


body {
	background-color: $backmat-color;
}

.container {
	z-index: 10;
}

#header {
	height: 120px;
	.menu {
		position: absolute;
		font-size: 16px;
		background-color: white;
		width: $blueprint-container-size - 50px;
		margin-left: 20px;
		height: 25px;
		margin-top: -5;
		padding: 5px;
		@include border-radius(4px, 4px);
	}
	.menu_item {
		text-decoration: none;
	}
}

.searchbar {
	width: 300px;
	position: relative;
	float: right;
	right: 15px;
}

.bottombar {
	line-height: 40px;
	color: $signin-color;
	font-size: 20px;
	font-family: 'PT Sans',Arial,Helvetica,sans-serif;
	font-style: italic;
	margin-left: 15px;
}

a.menu_item, a.menu_item:hover {
	color: $banner-color;
}

.imgsearch {
	width: 20px;
	position: absolute;
	float: right;
	top: 10;
	right: 5;
}

.boxsearch {
	@include border-radius(4px, 4px);
}

.hbground {
	background: url("../images/header-bg.png") no-repeat;
}

.hlogo {
	width: 280px;
	padding-left: 40px;
	padding-top: 10px;
	float: left;
}

.toggle-grid {
	right: 2px;
	position: absolute;
}

// content classes
#content {
	min-height: 400px;
}

.cbground {
	padding: 5px;
	.listing {
		clear: both;
		padding: 15px;
		@include border-radius;
		width: span($blueprint-grid-columns) -10px;
		height: 100px;
		background-color: #ffffff;
		border: 1px solid #ccc;
		border-top: none;
		border-bottom: 1px solid;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.about {
	float: left;
	padding: 5px;
	height: 200px;
	font-size: 18px;
	width: span($blueprint-grid-columns * 2/3) - 10px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: 1px solid;
	margin-top: 5px;
	margin-bottom: 10px;
}

.search {
	float: right;
	padding: 5px;
	height: 200px;
	font-size: 18px;
	width: span($blueprint-grid-columns * 1/3) - 20px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: 1px solid;
	margin-top: 5px;
	margin-bottom: 10px;
}


// footer classes
#footer {
	height: 80px;
	background-color: $top-bar-color;
	.bmenu {
		line-height: 40px;
		color: $signin-color;
		font-size: 12px;
		font-family: 'PT Sans',Arial,Helvetica,sans-serif;
	}
}

.fbground {
	background-color: $footer-border-color;
}

// general classes
$indent-columns: 2;
.left-indent {
	margin-left: ($indent-columns*$blueprint-grid-width);
}

.divider {
	color: #ffcb3f;
	font-size: 12px;
	font-weight: 500;
	display: inline;
	margin: 0 8px;
}

.social {
	float:right;
	ul {
		list-style: none;
		li {
			color:#fff;
			vertical-align:middle;
			padding:0 1px;
			font-weight:bold;
			display: inline-block;
		}
	}
	a.simg {
		width: 32px;
		height: 32px;
		display: block;
	}
	a.ico-facebook {background: url("../images/social-main-sprite.png") no-repeat -16px -1px}
	a.ico-facebook:hover { background:url("../images/social-main-sprite.png") no-repeat -16px -37px}
	a.ico-twitter{background:url("../images/social-main-sprite.png") no-repeat -56px -1px}
	a.ico-twitter:hover{background:url("../images/social-main-sprite.png") no-repeat -56px -37px}
	a.ico-google{background:url("../images/social-main-sprite.png") no-repeat -176px -1px}
	a.ico-google:hover{background:url("../images/social-main-sprite.png") no-repeat -176px -37px}
	a.ico-blog{background:url("../images/social-main-sprite.png") no-repeat -215px -1px}
	a.ico-blog:hover{background:url("../images/social-main-sprite.png") no-repeat -215px -37px}
}
